<h1>Start A New Petition</h1>

<%= form_for @petition do |f| %>
  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.label :body %>
    <%= f.text_area :body %>
  </div>
  <div class="field">
    <%= f.label :expiration_date %>
    <%= f.date_field :expiration_date %>
  </div>

  <div class="actions">
    <%= f.submit "Create Petition" %>
  </div>
<% end %>