<h1><%= @petition.title %></h1>

<p><%= @petition.body %></p>

<p><%= @petition.expiration_date.strftime("Expires on %B %d, %Y") %></p>

<p><%= @petition.signature_count %></p>

<% if current_user.id == @petition.user.id %>
<p><%= link_to 'Edit', edit_petition_path(@petition) %></p>
<p><%= link_to 'Delete Petition', @petition, method: :delete, data: { confirm: 'Are you sure?' } %></p>
<% end %>

<% if user_signed_in? %>
  <%= link_to 'Sign Petition', sign_count_path(@petition), class: "btn btn-primary" %>
<% end %>

